.footer {
  background-color: rgb(255, 123, 0);
  bottom:0;
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
  position: fixed;
}

.icon {
  filter: invert(100%);
  width: 70%;
}
