body {
  align-items: center;
  background: rgb(64, 3, 70);
  display: flex;
  justify-content: center;
}

.loginbox {
  align-items: center;
  background: #ff5518;
  border-radius: 2%;
  box-shadow: 0 3px 3px 0 black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  min-height: 520px;
  padding: 40px;
  width: 260px;
}

.input-login {
  background-color: #f3dbbb;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  margin: 0 0 20px;
  padding: 10px 15px;
  width: 300px;
}

.button-login {
  background: #8f2a06;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  margin-top: 35px;
  padding: 12px 15px;
  width: 300px;
}

.button-login:hover {
  background-color: #561e0a;
}

.button-disabled {
  background: #692b15;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-top: 35px;
  padding: 12px 15px;
  width: 300px;
}

.text-invalid {
  color: rgba(43, 9, 59, 0.76);
  font-size: 14px;
  margin-bottom: -5px;
  margin-left: 105px;
}

.img-logo {
  height: 130px;
  margin-bottom: 50px;
  width: 200px;
}
